@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ccc;
  padding: 1rem;
}
*/
td button {
  display: block;
  width: 100%;
}
